a { color: #06402B }


.content-wrapper {
  min-height:1500px;
}

.logo { background-color: #06402B !important; }
/*.navbar { background-color: #06402B !important; } */
.navbar { background-color: #06402B !important; } 
.box.box-solid.box-primary>.box-header {
      color:#fff;
      background:#666666
}


.content-wrapper, .main-footer, .right-side {
  margin-left:90px;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
  padding-top:10px;
}
.main-header .logo {
  height:62px
}

.main-header .navbar {
  min-height:62px;
  font-size:20px;
}

.left-side, .main-sidebar {
  width:90px;
  padding-top:62px;
}

.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu>li.header {
  white-space:normal;
  text-align:center;
}



.sidebar-menu li.active:after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid #ffffff;
    border-bottom: 12px solid transparent;
}

.sidebar-menu>li>a>i:after {
  content: "\A";
  white-space:pre;
}

.sidebar-menu>li>a {
  padding-left:10px;
  padding-right:3px;
}

.skin-green .sidebar-menu>li.active>a, .skin-green .sidebar-menu>li:hover>a {
  background-color:#06402B;  
}

.skin-green .sidebar a {
  color:#98979e;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
  width:50px;
  font-size:24px;
}

.skin-green .left-side, .skin-green .main-sidebar, .skin-green .wrapper {
   background-color: #06402B
}

.content-wrapper, .right-side {
  background-color:#fff
}

.btn-primary {
  font-size: xx-small;
  border-color: #06402B;
  background-color: #06402B;
  color: #FFF;
}

.btn-primary.hover,.btn-primary:active,.btn-primary:hover{
  background-color:#0A5A3D 
}

.box.box-solid.box-primary{
      border-bottom-color:#666666;
      border-left-color:#666666;
      border-right-color:#666666;
      border-top-color:#666666;
}

/* Harmonize selectize controls with seaPiper primary color. */
.selectize-control .selectize-input.focus {
  border-color:#06402B !important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(6,64,43,0.35) !important;
}

.selectize-dropdown .active,
.selectize-dropdown .selected,
.selectize-control.multi .selectize-input > div.active {
  background-color:#06402B !important;
  color:#fff !important;
}

/* Use native checkbox/radio accent coloring in modern browsers. */
input[type="checkbox"],
input[type="radio"] {
  accent-color:#06402B;
}

/* Style Disco sliderInput controls with seaPiper primary color. */
#shiny-tab-disco .irs--shiny .irs-bar {
  border-top: 1px solid #06402B;
  border-bottom: 1px solid #06402B;
  background: #06402B;
}

#shiny-tab-disco .irs--shiny .irs-from,
#shiny-tab-disco .irs--shiny .irs-to,
#shiny-tab-disco .irs--shiny .irs-single {
  background-color:#06402B;
}

#shiny-tab-disco .irs--shiny .irs-handle {
  border:1px solid #06402B;
  background-color:#ffffff;
}

#shiny-tab-disco .irs--shiny .irs-handle.state_hover,
#shiny-tab-disco .irs--shiny .irs-handle:hover {
  background-color:#E8F2EE;
}
